/* banner */
.banner-container {
    position: relative;
    scroll-margin: 0;
    /* scroll-snap-align: start; */
    z-index: 10;
}

.banner-img, .banner-slide-img {
    width: 100%;
    height: 100vh;
}

.banner-slide-img {
    z-index: 1;
}

.banner-img{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.video-banner{
    width: 100%;
    height: auto;
}

.banner-prev-next {
    width: 1264px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.banner-prev, .banner-next {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    color: white;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

.banner-button:hover{
    background-color: rgba(240, 248, 255, 0.103);
}

.prev{
    transform: scaleX(-1);
}

.arrow-icon{
    font-size: 36px;
}

/* subcontent */

.content-container{
    display: flex;
    align-items: center;
    width: 100%;
}

.content-box{
    width: 1264px;
    margin: auto;
}

.top-content{
    height: 524px;
    display: flex;
    justify-content: space-between;
}

.top-content-img{
    width: 40%;
}

.top-content-text{
    width: 50%;
    text-align: right;
    display: flex;
    align-items: center;
}

.top-content-text .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtext{
    margin-bottom: 3em;
}

.title h2{
    white-space: nowrap;
    margin-left: 30px;
}

.title-line1{
    width: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 1px;
}


.button{
    border: 1px solid;
    float: right;
}

.button-content{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 40px;
    width: 13em;
    border: none;
    transition: 0.3s;
}

.button-content:hover{
    background-color: rgba(143, 143, 143, 0.5);
}




/* newarrival */

.box-container{
    background-color: white;
}


.newprod-container{
    width: 1264px;
    margin: auto;
}

.newprod-title .title-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newprod-title .title-new > h2{
    white-space: nowrap;
    margin-right: 30px;
}

.title-new{
    font-size: 24px;
    font-weight: 600;
}

.title-line{
    width: 100%;
    border: none;
    background-color: black;
    height: 1px;
}

.title h2{
    white-space: nowrap;
    margin-left: 30px;
}

.newprod-product{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* productintro */

.into-link a{
    position: relative;
}

.into-link > a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    width: 100%;
    height: 1px;

    transform: scaleX(1);
    transition: transform 225ms ease-in;
    transform-origin: left;
}

.into-link a:hover::after{
    transform: scaleX(0);
    transform-origin: left;
}

/* moreprod */

.moreprod-container{
    margin-top: 12em;
}

/* lastpoint */

.filer-blur{
    mask-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}